---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('/assets/css/fonts/GothamBook.woff') format('woff');
}

@font-face {
font-family: 'Gotham Black Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Black Regular'), url('/assets/css/fonts/Gotham-Black.woff') format('woff');
}


// Our variables
$base-font-family: 'Gotham Book', 'Open Sans', Helvetica, Arial, sans-serif;
$heading-font-family: 'Gotham Black Regular', 'Open Sans', Helvetica, Arial;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$phone-width: 321px;
$tablet-width: 768px;
$desktop-width: 1024px;

$header-image-size-desktop: 700px;
$header-image-size-mobile: 320px;
$header-image-size-tablet: 320px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.site-title {
  a {
    text-decoration: none;
  }
}

h1 {
  font-family: $heading-font-family;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
