/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background-color
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
      display: none;
    }

    .page-link {
        position: relative;
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  @media only screen and (min-width: $desktop-width) {
    height: 250px;
    width: 250px; 
  }
}

.header-container {
  position: fixed;
  z-index: -10;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $grey-color-light;
  width: 100%;
  min-height: $header-image-size-mobile;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  


  @media only screen and (min-width: $phone-width) and (max-width: $tablet-width) {
    min-height: $header-image-size-tablet;
  }

  @media only screen and (min-width: $desktop-width) {
    min-height: $header-image-size-desktop;
  }
}

.header-container-placeholder {
  min-height: $header-image-size-mobile;
  @media only screen and (min-width: $phone-width) and (max-width: $tablet-width) {
    min-height: $header-image-size-tablet;
  }

  @media only screen and (min-width: $desktop-width) {
    min-height: $header-image-size-desktop;
  }

}

/**
 * Blog post list cards
 */
.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;

  border: 3px solid $grey-color-light;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  margin-bottom: 1.3em;
  padding: 1em;

  h3 {
    margin-bottom: 0em;
  }

  @media only screen and (min-width: $tablet-width) {
    flex-direction: row;

    a:first-child {
      margin-right: 1em;
    }

    h3 {
      font-size: 2em;
    }

    img {
      width: 470px;
      max-width: unset;
      height: 300px;
      object-fit: cover;
    }
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

/**
 * Post badge
 */
.badge {
  display: inline-block;
  white-space: nowrap;
  padding: .6em;
  align-self: flex-start;

  i {
    font-size: 1.6em; 
    vertical-align: middle;
  }
}

.rpi-purple {
  background-color: #C51A4A;
  color: #fff;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.post {
  margin-top: 100px;
  padding-left: .5em;
  padding-right: .5em;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop-width) {
    padding-left: 15em;
    padding-right: 15em;
  } 
}

.header-image {
  object-fit: cover;
  width: 100%;
  height: 260px;

  @media screen and (min-width: $desktop-width) {
    height: 450px;
  }
}

.post-content {
    // padding: $spacing-unit 0;
}

.content {
  padding-top: 3em;
  height: 100%;
  background-color: $background-color;

  article {
    margin-bottom: 3em;
    padding-left: .5em;
    padding-right: .5em;

    @media only screen and (min-width: $desktop-width) {
      padding-left: 3em;
      padding-right: 3em;
    }

    h2 {
      text-align: center;
    }
  }

  @media only screen and (min-width: $desktop-width) {
    h2 {
      text-align: center;
      font-size: 2.3em;
    }
  }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    padding-left: .2em;
    padding-right: .2em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $desktop-width) {
      padding-top: 1em;
      padding-left: 3em;
      padding-right: 3em;


      h2 {
        text-align: center;
        font-size: 2.3em;
      }

      img {
        object-fit: cover;
      }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
